* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: white;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 895px;
    top: 28px;
}
.lang {
    border-radius: 4px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 113px;
    height: 36px;
}
.head-button {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: nowrap;
}
.header a {
    display: inline-block;
    background: #e50914;
    color: white;
    font-size: 16px;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}
.card {
    border-bottom: 8px solid #222;
}
.main {
    height: 750px;
    width: 100%;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/329c9f21-e3ff-4af2-9012-89e293573d83/BR-pt-20220530-popsignuptwoweeks-perspective_alpha_website_medium.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-size: cover;
}
.main-child {
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 72px;
}
.main h1 {
    font-size: 64px;
    max-width: 700px;
}
.main span {
    font-size: 26px;
    margin-top: 17px;
    font-weight: 500;
}
.main p {
    font-size: 19px;
    margin-top: 35px;
}
.form-cta {
   display: grid;
   grid-template-columns: 500px 200px;
   margin-top: 20px;
}
.form-cta input {
    padding: 20px 10px;
    font-size: 18px;
    font-family: sans-serif;
}
.form-cta button {
    background: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
}
.form-cta button::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url(/img/seta.svg);
    margin-left: 20px;
}
.form-cta button:hover {
    background: #f40612;
    cursor: pointer;
}
.gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
    rgba(0,0,0,.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section {
    background: black;
    padding: 18px 45px 70px 45px;
}
.section h1 {
    font-size: 50px;
    margin-bottom: 16px;
}
.section p {
    font-size: 27px;
}
.grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}
.img-tv {
    position: relative;
}
.img-tv img {
    position: relative;
    width: 530px;
    height: 401px;
    z-index: 100;
}
.video-tv {
    position: absolute;
    width: 395px;
    height: 223px;
    top: 80px;
    left: 70px;
}

.download .grid > div:first-child {
    order: 2;
}

.download .img-tv {
    order: 1;
}
.device-pile .video-tv {
    width: 320px;
    top: 25px;
    left: 100px;
}
.kids .grid > div:first-child {
    order: 2;
}

.kids .img-tv {
    order: 1;
}
/*.faq {
    text-align: center;
}
@media only screen and (min-width: 600px){
    .main {
        width: 100vw;
    }
}*/